<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greathammer.dao.BizCategoryMapper">
  <resultMap id="BaseResultMap" type="com.greathammer.entity.BizCategory">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="info" property="info" jdbcType="VARCHAR"/>
    <result column="logo" property="logo" jdbcType="VARCHAR"/>
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP"/>
    <result column="udate" property="udate" jdbcType="TIMESTAMP"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, info, logo, cdate, udate, status, category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from biz_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllService" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM biz_category
    WHERE status = 2
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greathammer.entity.BizCategory">
    insert into biz_category (id, name, info,
    logo, cdate, udate,
    status, category_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR},
    #{logo,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP}, #{udate,jdbcType=TIMESTAMP},
    #{status,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.greathammer.entity.BizCategory">
    insert into biz_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="cdate != null">
        cdate,
      </if>
      <if test="udate != null">
        udate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.greathammer.entity.BizCategory">
    update biz_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="udate != null">
        udate = #{udate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greathammer.entity.BizCategory">
    update biz_category
    set name = #{name,jdbcType=VARCHAR},
    info = #{info,jdbcType=VARCHAR},
    logo = #{logo,jdbcType=VARCHAR},
    cdate = #{cdate,jdbcType=TIMESTAMP},
    udate = #{udate,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=INTEGER},
    category_id = #{categoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>