<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommonMapper">

    <select id="countColumn" parameterType="map" resultType="int" statementType="STATEMENT">
        SELECT count(*) AS count
        FROM `${tableName}` AS t
        WHERE t.`${columnName}` = '${columnValue}'
    </select>

</mapper>